/node_modules
/oh_modules
/.preview
/build/*
!/build/default/
/build/default/*
!/build/default/outputs/
/build/default/outputs/*
!/build/default/outputs/default/
/build/default/outputs/default/*
!/build/default/outputs/default/*.har
/.cxx
/.test